.cabecalho__menu {
    align-items: center;
    background:rgb(34, 34, 34);
    box-shadow: 2px 2px 4px rgb(3, 24, 3);
    box-sizing: border-box;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius:5px ;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-top: 3rem;
    padding-bottom: .2rem;
    position: absolute;
    left: 0;
    text-align: center;
    transform: translateY(-5rem);
    transition: .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    visibility: hidden;
    width: 0;
    height: 101vh;
}

.cabecalho__menu--abrir {
    visibility: visible;
    width: 54.666666666666664vw;
    overflow-x: auto;
}