.cabecalho__item {
    display: inline-block;
    font-size: 1.25rem;
    list-style: none;
    margin: 0 0 .5rem;
    font-family: var(--montserrat);
    border: none;
    border-radius: 8px;
    padding: .7rem 0;
    width:90%;
    transition: .1s;
    background: linear-gradient(45deg,  var(--verde-alt), rgb(41, 182, 100));
    box-shadow: 1px 1px 2px rgb(3, 24, 3);
}

.cabecalho__item:active {
    background: #afa;
    border: none;
    box-shadow: -1px -1px 1px rgb(38, 77, 42);
}

.cabecalho__item:hover {
    background: #afa;
    border: none;
    box-shadow: -1px -1px 1px rgb(38, 77, 42);
}

.cabecalho__item a {
    display: inline-block;
    color: rgb(3, 34, 34);
    width:100%;
    line-height:auto;
}

.cabecalho__item:active :first-child {
    text-shadow: .2px .2px 2px #000;
}