:root {
    --preto: #000000;
    --verde-claro: #AFA;
    --verde-escuro: #241;
    --verde-alt:#75b875;
    --montserrat:'Montserrat', sans-serif;
    --open: 'Open Sans', sans-serif;
    --fundo-branco: #fefefe;
    --width__img: 100%;
    --style__script: 'Style Script', cursive;
}

body{
    font-size: 16px;
}

.header {
    background-color:var(--verde-alt);
    position:-webkit-sticky;
    position:sticky;
    top:0;
    z-index: 10;
}

.header img {
    width: 7rem;
    margin:.5rem;
}

.card {
    text-align: center;
    border-radius: 4px;
    margin-bottom:.1rem;
    box-shadow:0.5px 0.5px 5px #a7a6a6;
    max-width: 100%;
 }

 .imagemCard {
    width: 100%;
}

 .assunto {
    font-size:.9rem;
    font-family: var(--montserrat);
    text-align: left;
    text-indent:1rem;
    text-transform: uppercase;
    margin-top:2rem;
}
 
body .titulo {
    text-align: left;
    font-family:var(--montserrat);
    font-weight: 700; 
    font-size: 1.3rem;
    color:var(--verde-alt);
    padding:.7rem 1rem;
}

.sinopse {
    line-height:1.1rem;
    font-size: 1rem;
    font-weight:400;
    font-family:var(--open);
    text-align: justify;
    color:#000000b2;
    text-indent: 1rem;
    padding: 0rem 1rem;
}

.link {
    display: inline-block;
    color:var(--verde-alt);
    margin: 1rem;
}

.molduraAutor {
    position:relative;
    border-top: .5px solid #e2e0e0;
    padding: 1.5rem;
}

.imgAutor {
    width: 30px;
    border-radius: 16px;
    position:absolute;
    top: calc(50% - 15px);
    left:16px;
}

body .nomeAutor {
    display: inline-block;
    position:absolute;
    color:var(--verde-alt);
    top: calc(50% - .5rem);
    left:3.55rem;
    font-family: var(--montserrat);
}

.data {
    color:var(--verde-alt);
    font-size:.7rem;
    position:absolute;
    right:1rem;
    top:calc(50% - .35rem);
    font-family: var(--montserrat);
}

.footer {
    background-color: #75b875;
    position: -webkit-sticky;
    position:sticky;
    bottom:0;
    width: 100vw;
}

.menu__inf div {
    display:flex;
    text-align: center;  
}

.botao {
    width: 25vw;
    background-color:transparent;
    border:none;
    text-align: center;
}

.img__audio {
    margin: 2.5px 2.5px 1.5px;
}

.footer p {
    font-family: var(--open);
    position: relative;
    top: -5px;
}

.img__audio ~ p {
    position: relative ;
    top: -3.5px;
}


